.container {
  width: 100%;
  height: 100%;
}

.deliveryInfos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 2rem;
  margin-top: 6rem;
}

.deliverySubtitle {
  text-align: center;
  font-size: 20px;
  color: #666;
}

.deliveryTitle {
  text-align: center;
  color: #f00;
  font-size: 28px;
  font-weight: bold;
}

.deliveryInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.deliveryInfo > h3 {
  text-align: center;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.firstImg {
  width: 275px;
}

.secondImg {
  width: 250px;
  margin-bottom: -1.5rem;
}

.thirdImg {
  width: 240px;
}

/* media query for small screens */
@media (max-width: 768px) {
  .container {
    /* adjust the width and height to fit the screen */
    width: auto;
    height: auto;
  }

  .deliveryInfos {
    /* change the flex direction to column to stack the deliveryInfo elements */
    flex-direction: column;
  }

  .titles {
    /* adjust the margin top and bottom */
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .firstImg {
    /* adjust the width to fit the screen */
    width: 100%;
  }

  .secondImg {
    /* adjust the width to fit the screen */
    width: 100%;
    margin-bottom: 0;
  }

  .thirdImg {
    /* adjust the width to fit the screen */
    width: 100%;
  }

  .deliveryTitle {
    /* adjust the font size for better readability */
    font-size: 24px;
  }

  .deliverySubtitle {
    /* adjust the font size for better readability */
    font-size: 16px;
  }

  .deliveryInfo > h3 {
    /* adjust the font size for better readability */
    font-size: 20px;
  }

  .deliveryInfo {
    /* adjust the gap between the elements for better spacing */
    gap: 8px;
    margin-bottom: 1rem;
  }
}
